.button {
  animation-name: button;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.button:hover {
  animation-name: none;
}

@keyframes button {
  30% {
    border-color: transparent;
  }
  50% {
    border-color: #fbbf24;
  }
  70% {
    border-color: transparent;
  }
}
