.bgA1 {
  animation-name: bgA1;
  animation-duration: 6s;
  animation-delay: 7s;
  animation-iteration-count: infinite;
}

@keyframes bgA1 {
  25% {
    filter: blur(5px);
    opacity: 0;
  }
  25% {
    filter: blur(0px);
    opacity: 0.12;
  }
  80% {
    filter: blur(5px);
    opacity: 0;
  }
}
.bgA2 {
  animation-name: bgA2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes bgA2 {
  25% {
    filter: blur(5px);
    opacity: 0;
  }
  25% {
    filter: blur(0px);
    opacity: 0.12;
  }
  80% {
    filter: blur(5px);
    opacity: 0;
  }
}
.bgA3 {
  animation-name: bgA3;
  animation-duration: 10s;
  animation-delay: 7s;
  animation-iteration-count: infinite;
}

@keyframes bgA3 {
  25% {
    filter: blur(5px);
    opacity: 0;
  }
  25% {
    filter: blur(0px);
    opacity: 0.12;
  }
  80% {
    filter: blur(5px);
    opacity: 0;
  }
}
.bgA4 {
  animation-name: bgA4;
  animation-duration: 12s;
  animation-delay: 7s;
  animation-iteration-count: infinite;
}

@keyframes bgA4 {
  25% {
    filter: blur(5px);
    opacity: 0;
  }
  25% {
    filter: blur(0px);
    opacity: 0.12;
  }
  80% {
    filter: blur(5px);
    opacity: 0;
  }
}
.bgA5 {
  animation-name: bgA5;
  animation-duration: 14s;
  animation-delay: 7s;
  animation-iteration-count: infinite;
}

@keyframes bgA5 {
  25% {
    filter: blur(5px);
    opacity: 0;
  }
  25% {
    filter: blur(0px);
    opacity: 0.12;
  }
  80% {
    filter: blur(5px);
    opacity: 0;
  }
}
