---
import MainLayout from "../layouts/MainLayout.astro";
import Portfolio from "../components/Portfolio.jsx";
import Container from "../components/Container.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout>
  <section class="min-h-[100svh] w-full grid place-content-center">
    <Portfolio client:load />
  </section>
  <Footer />
</MainLayout>
