---
import MainLayout from "../layouts/MainLayout.astro";
import Portfolio from "../components/Portfolio.jsx";
---

<MainLayout>
  <div class="grid place-content-center">
   <Portfolio client:load/>
  </div>
</MainLayout>

