---
import MainLayout from "../layouts/MainLayout.astro";
import Pruebas from "../components/Pruebas.jsx";
import Fetch from "../components/fetch.astro";
---

<MainLayout>
  <div class="grid place-content-center h-screen">
   <Pruebas client:load/>
  </div>
</MainLayout>

