
.alert {
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 17rem;
    height: 19.5rem;
    display: block;
    padding: 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    transition: (--transition);
  }

  .alert button {
    position: relative;
    left: calc(50% - 3.5rem);
  }