---
import Container from "./Container.astro";
import LinkButton from "./LinkButton.astro";
---

<Container id="about" className="grid grid-cols-1 place-items-center">
  <article class="flex flex-col h-full w-fit">
    <div class="h-full grid sm:grid-cols-1 xl:grid-cols-2 place-items-center">
      <div>
        <div class="flex h-0">
          <div
            class="relative h-[12.73svh] w-[12.73svw] bg-teal-200 blur-3xl opacity-40"
          >
          </div>
          <div
            class="relative sm:top-[14rem] md:top-[22rem] sm:left-[10rem] md:left-[18rem] h-[12.73svh] w-[12.73svw] -translate-x-[calc(12.73svw_*_1)] bg-teal-500 blur-3xl opacity-40"
          >
          </div>
        </div>
        <div
          class="flex sm:w-64 sm:h-64 md:w-96 md:h-96 overflow-hidden m-10 rounded shadow-md shadow-orange-400 hover:shadow-orange-300 rotate-6 hover:rotate-0 transition-all"
        >
          <img
            class="object-cover"
            src="https://res.cloudinary.com/dgg07ocbn/image/upload/fl_awebp/w_480,h_480,c_fill/v1674355663/Landing/me_mjun2q.png"
            alt=""
          />
        </div>
      </div>
      <div class="m-10 h-full flex flex-col justify-center">
        <div class="flex -z-10 h-0">
          <div
            class="relative left-[100%] h-[19.09svh] w-[19.09svw] -translate-x-[calc(12.73svw_*_2)] bg-orange-400 blur-3xl opacity-25"
          >
          </div>
          <div
            class="relative top-[5rem] left-[75%] h-[19.09svh] w-[19.09svw] -translate-x-[calc(12.73svw_*_3)] bg-teal-600 blur-3xl opacity-25"
          >
          </div>
        </div>
        <p class="dwarf:text-base sm:text-lg 2xl:text-xl mb-2">
          I am a Full Stack Web Developer specializing in the development of
          applications using JavaScript, TypeScript, React, Node, and both
          relational databases like PostgreSQL and non-relational databases like
          MongoDB.
        </p>
        <p class="dwarf:text-base sm:text-lg 2xl:text-xl mb-2">
          I am deeply passionate about technology. I enjoy continually expanding
          my stack by incorporating new tools to build better solutions and
          honing my soft skills such as communication, active listening, etc.,
          in order to enhance my teamwork beyond the knowledge provided by agile
          methodologies.
        </p>
        <p class="dwarf:text-base sm:text-lg 2xl:text-xl mb-2">
          knowledge provided by agile methodologies. In my future endeavors, I
          plan to delve into areas of interest such as Machine Learning, CI/CD,
          Cloud, etc.
        </p>
        <p class="dwarf:text-base sm:text-lg 2xl:text-xl mb-2">
          I host my own Twitch channel at <LinkButton
            href="https://twitch.tv/chrisvdev"
            className="px-0"
          >
            twitch.tv/chrisvdev
          </LinkButton>, where viewers can see me working on projects alongside
          the community.
        </p>
        <p class="dwarf:text-base sm:text-lg 2xl:text-xl mb-2">
          As an IT professional, I also possess a solid understanding of and can
          develop infrastructures that support applications. Additionally, as a
          hobbyist photographer, I strive to comprehend how to create improved
          UI/UX experiences.
        </p>
      </div>
    </div>
  </article>
</Container>
