---
import Container from "./Container.astro";
import LinkButton from "./LinkButton.astro";
---

<Container id="contact" className="flex flex-col justify-center items-center">
  <h2 class="mb-4 font-medium text-2xl text-center mt-20">You can contact me through the following ways</h2>
  <div class="flex sm:flex-col md:flex-col lg:flex-row flex-wrap gap-8 justify-center items-center">
    <article
      class="flex flex-col items-center border border-amber-400 hover:border-slate-50 rounded my-4 p-6 transition-all "
    >
      <div
        class="flex items-center justify-around content-center h-fit w-fit mb-2"
      >
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 24 24"
          class="w-6 h-6 mr-2"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path
            d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"
          ></path>
        </svg>
        <h4 class="flex font-bold text-lg">Email</h4>
      </div>
      <LinkButton href="mailto:chrisvill.2312@gmail.com">
        chrisvill.2312@gmail.com
      </LinkButton>
    </article>
    <article
      class="flex flex-col items-center border border-amber-400 hover:border-slate-50 rounded my-4 p-6 transition-all"
    >
      <div
        class="flex items-center justify-around content-center h-fit w-fit mb-2"
      >
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 16 16"
          class="w-6 h-6 mr-2"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"
          ></path>
        </svg>
        <h4 class="flex font-bold text-lg">Telegram</h4>
      </div>
      <LinkButton href="https://t.me/chrisvill23">@chrisvill23</LinkButton>
    </article>
    <article
      class="flex flex-col items-center border border-amber-400 hover:border-slate-50 rounded my-4 p-6 transition-all"
    >
      <div
        class="flex items-center justify-around content-center h-fit w-fit mb-2"
      >
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 24 24"
          class="w-6 h-6 mr-2"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.50002 12C3.50002 7.30558 7.3056 3.5 12 3.5C16.6944 3.5 20.5 7.30558 20.5 12C20.5 16.6944 16.6944 20.5 12 20.5C10.3278 20.5 8.77127 20.0182 7.45798 19.1861C7.21357 19.0313 6.91408 18.9899 6.63684 19.0726L3.75769 19.9319L4.84173 17.3953C4.96986 17.0955 4.94379 16.7521 4.77187 16.4751C3.9657 15.176 3.50002 13.6439 3.50002 12ZM12 1.5C6.20103 1.5 1.50002 6.20101 1.50002 12C1.50002 13.8381 1.97316 15.5683 2.80465 17.0727L1.08047 21.107C0.928048 21.4637 0.99561 21.8763 1.25382 22.1657C1.51203 22.4552 1.91432 22.5692 2.28599 22.4582L6.78541 21.1155C8.32245 21.9965 10.1037 22.5 12 22.5C17.799 22.5 22.5 17.799 22.5 12C22.5 6.20101 17.799 1.5 12 1.5ZM14.2925 14.1824L12.9783 15.1081C12.3628 14.7575 11.6823 14.2681 10.9997 13.5855C10.2901 12.8759 9.76402 12.1433 9.37612 11.4713L10.2113 10.7624C10.5697 10.4582 10.6678 9.94533 10.447 9.53028L9.38284 7.53028C9.23954 7.26097 8.98116 7.0718 8.68115 7.01654C8.38113 6.96129 8.07231 7.046 7.84247 7.24659L7.52696 7.52195C6.76823 8.18414 6.3195 9.2723 6.69141 10.3741C7.07698 11.5163 7.89983 13.314 9.58552 14.9997C11.3991 16.8133 13.2413 17.5275 14.3186 17.8049C15.1866 18.0283 16.008 17.7288 16.5868 17.2572L17.1783 16.7752C17.4313 16.5691 17.5678 16.2524 17.544 15.9269C17.5201 15.6014 17.3389 15.308 17.0585 15.1409L15.3802 14.1409C15.0412 13.939 14.6152 13.9552 14.2925 14.1824Z"
          ></path>
        </svg>
        <h4 class="flex font-bold text-lg">WhatsApp</h4>
      </div>
      <LinkButton href="https://api.whatsapp.com/send?phone=5492235306180">
        Send a message
      </LinkButton>
    </article>
  </div>
</Container>
