---
import LinkButton from "./LinkButton.astro";
import NavigateButton from "./NavigateButton.astro";
const { className = "" } = Astro.props;
---

<section
  class={`bg-zinc-800 min-h-[25svh] w-full flex flex-wrap justify-evenly items-center gap-12 p-8 ${className}`}
>
  <article class="flex flex-col justify-center items-center">
    <a href="#" class="mb-1 font-semibold">Christian Villegas</a>
    <h4 class="mb-1 text-sm text-center">Full stack developer</h4>
    <a
      href="https://twitch.com/chrisvdev"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center content-center items-center my-1"
    >
      <svg
        width="1.15rem"
        height="1.15rem"
        viewBox="0 0 32 32"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-zinc-300"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <title>twitch</title>
          <path
            d="M26.711 14.929l-4.284 4.284h-4.285l-3.749 3.749v-3.749h-4.82v-16.067h17.138zM8.502 1.004l-5.356 5.356v19.279h6.427v5.356l5.356-5.356h4.284l9.641-9.64v-14.996zM21.356 6.895h2.142v6.427h-2.142zM15.464 6.895h2.143v6.427h-2.144z"
          ></path>
        </g>
      </svg>
      <p class="ml-2 text-sm">Chrisvdev</p>
    </a>
    <a
      href="https://www.linkedin.com/in/chrisvill2312/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center content-center items-center my-1"
    >
      <svg
        width="1.15rem"
        height="1.15rem"
        viewBox="0 0 24 24"
        id="meteor-icon-kit__solid-linkedin"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-zinc-300"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M22.2857 0H1.70893C0.766071 0 0 0.776786 0 1.73036V22.2696C0 23.2232 0.766071 24 1.70893 24H22.2857C23.2286 24 24 23.2232 24 22.2696V1.73036C24 0.776786 23.2286 0 22.2857 0ZM7.25357 20.5714H3.69643V9.11786H7.25893V20.5714H7.25357ZM5.475 7.55357C4.33393 7.55357 3.4125 6.62679 3.4125 5.49107C3.4125 4.35536 4.33393 3.42857 5.475 3.42857C6.61071 3.42857 7.5375 4.35536 7.5375 5.49107C7.5375 6.63214 6.61607 7.55357 5.475 7.55357ZM20.5875 20.5714H17.0304V15C17.0304 13.6714 17.0036 11.9625 15.1821 11.9625C13.3286 11.9625 13.0446 13.4089 13.0446 14.9036V20.5714H9.4875V9.11786H12.9V10.6821H12.9482C13.425 9.78214 14.5875 8.83393 16.3179 8.83393C19.9179 8.83393 20.5875 11.2071 20.5875 14.2929V20.5714Z"
        ></path></svg
      >
      <p class="ml-2 text-sm">/chrisvill2312</p>
    </a>
    <a
      href="https://github.com/chrisvill2312"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center content-center items-center my-1"
    >
      <svg
        width="1.15rem"
        height="1.15rem"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-zinc-300"
        ><path
          fill-rule="evenodd"
          d="M8 1C4.133 1 1 4.13 1 7.993c0 3.09 2.006 5.71 4.787 6.635.35.064.478-.152.478-.337 0-.166-.006-.606-.01-1.19-1.947.423-2.357-.937-2.357-.937-.319-.808-.778-1.023-.778-1.023-.635-.434.048-.425.048-.425.703.05 1.073.72 1.073.72.624 1.07 1.638.76 2.037.582.063-.452.244-.76.444-.935-1.554-.176-3.188-.776-3.188-3.456 0-.763.273-1.388.72-1.876-.072-.177-.312-.888.07-1.85 0 0 .586-.189 1.924.716A6.711 6.711 0 018 4.381c.595.003 1.194.08 1.753.236 1.336-.905 1.923-.717 1.923-.717.382.963.142 1.674.07 1.85.448.49.72 1.114.72 1.877 0 2.686-1.638 3.278-3.197 3.45.251.216.475.643.475 1.296 0 .934-.009 1.688-.009 1.918 0 .187.127.404.482.336A6.996 6.996 0 0015 7.993 6.997 6.997 0 008 1z"
          clip-rule="evenodd"></path></svg
      >
      <p class="ml-2 text-sm">/chrisvill2312</p>
    </a>
  </article>
</section>
