---
import Nav from "../components/nav/Nav.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Hi! My name is Christian, a full stack developer skilled in both front-end and back-end web development. Proficient in a variety of programming languages and experienced with deploying web applications to the cloud."
    />
    <link rel="preload" href="https://use.typekit.net/yij4raz.css" as="style" />
    <link rel="stylesheet" href="https://use.typekit.net/yij4raz.css" />
    <title>Christian's web site...</title>
  </head>
  <body
    class="bg-zinc-950 text-zinc-300 font-futura-pt subpixel-antialiased scroll-smooth noMobile:snap-y noMobile:snap-mandatory"
  >
    <Nav />
    <slot />
  </body>
</html>

<style>
  * {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  @media (max-width: 480px) {
    * {
      scroll-snap-type: none;
    }
  }
</style>
