---
import NavBtn from "./NavBtn.astro";
---

<nav class="fixed flex justify-center top-5 h-fit w-full z-50 nav">
  <div
    class="h-10 w-[.15rem] bg-gradient-to-b from-transparent via-amber-300 to-transparent"
  >
  </div>
  <div class="navBtns flex justify-around items-center overflow-hidden w-64 md:w-96 bg-[#f8fafc15] filter backdrop-blur-sm">
    <NavBtn to="/#">Home</NavBtn>
    <NavBtn to="/#about">About me</NavBtn>
    <NavBtn to="/portfolio">Portfolio</NavBtn>
    <NavBtn to="/#contact">Contact</NavBtn>
  </div>
  <div
    class="h-10 w-[.15rem] bg-gradient-to-b from-transparent via-amber-300 to-transparent"
  >
  </div>
</nav>

<style>
    .nav{
        animation-name: nav;
        animation-duration: 2.5s;
        animation-iteration-count: 1;
    }

    @keyframes nav {
        0%{
            opacity: 0;
        }
        85%{
            opacity: 0;
        }
        100%{
            opacity: 100%;
        }

    }

    .navBtns{
        transition: all;
        animation-name: navBtns;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    @keyframes navBtns {
        0%{
            width: 0;
        }
        85%{
            width: 0;
        }
    }
</style>